<br>
<div>
<form action="/excuses/<%= @excuse.id %>" method="POST">
  <input type="hidden" name="_method" value="put">
  Title: <input type="text" name="excuse[title]" value="<%= @excuse.title %>"><br>
  Content: <br>
  <textarea name="excuse[content]" cols="30" rows="3"><%= @excuse.content %></textarea>
  <input type="submit" value="Make Your Excuse!!">
</form>
</div>