<br>
<div>
<form class="new-excuse" action="/excuses/create" method="POST">
  Title: <input type="text" name="excuse[title]"><br>
  Content: <br>
  <textarea name="excuse[content]" cols="30" rows="3"></textarea><br><br>
  <input type="submit" value="Make Your Excuse!!">
</form>
</div>
